STYLING FOR HEADER AND FOOTER
.navbar-toggler, .navbar-collapse {
    position: absolute;
    right: 15px;
}

.nav-item a:hover, .icon-wrapper a i:hover, .foot-link:hover {
    color: #fffc8c;
}

.nav-item a:active, .active-nav-link, .icon-wrapper a i:active, .foot-link:active {
    color: #fefed7;
}

.navbar-brand {
    padding: 10px;
}

.navbar-brand {
    font-family: 'Barlow', sans-serif;
}

.foot-item {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.foot-item p {
    margin-bottom: 0;
    font-size: smaller;
}

.foot-item h5 {
    font-family: 'Barlow Condensed', sans-serif;
    margin-bottom: .25rem;
    text-decoration: underline;
}

.foot-link {
    text-decoration: none;
    color: white;
    font-size: smaller;
}

.navbar, footer {
    background-color: #151B3E;  
}

/* GENERAL STYLING */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f7f7f7;
}

h2, h3, h4 {
    font-family: 'Barlow Condensed', sans-serif;
}

h1 {
    font-family: 'Barlow', sans-serif;
}

.content {
    margin-top: 66px;
}

/* ABOUT PAGE STYLING */
#alumni div div, #board-members div div {
    text-align: center;
}

#alumni div div img, #board-members div div img {
    height: 20vw;
    padding: .5vw;
}

.staff-icons a {
    padding: inherit;
    font-size: medium;
}

.staff-icons p {
    font-size: smaller;
}

.year h1 {
    font-size: xx-large;
}